// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Zilla+Slab+Highlight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Zilla+Slab+Highlight:wght@700&display=swap');

$white: #fff;
$veryLightGray: #ddd;
$lightGray: #606060;
$gray: #404040;
$darkGray: #202020;
$black: #000;

$font: Roboto, sans-serif ;
$fontTitle: 'Zilla Slab Highlight', cursive;

$fontSizeLarge: 2rem;
$fontSizeMed: 1.5rem;
$fontSizeSmall: 1rem;

$navBarSize: 4rem;

// *, *::before, *::after {
//   box-sizing: border-box;
// }

html {
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  touch-action: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  left: 0;
  right: 0;
  margin: 0;
  // background: 
  // -moz-linear-gradient(135deg, $black 25%, transparent 25%) -50px 0,
  // -moz-linear-gradient(225deg, $black 25%, transparent 25%) -50px 0,
  // -moz-linear-gradient(315deg, $black 25%, transparent 25%),
  // -moz-linear-gradient(45deg, $black 25%, transparent 25%);
  // background:
  // -webkit-linear-gradient(135deg, $black 25%, transparent 25%) -50px 0,
  // -webkit-linear-gradient(225deg, $black 25%, transparent 25%) -50px 0,
  // -webkit-linear-gradient(315deg, $black 25%, transparent 25%),
  // -webkit-linear-gradient(45deg, $black 25%, transparent 25%);
  // background:
  // linear-gradient(135deg, $black 25%, transparent 25%) -50px 0,
  // linear-gradient(225deg, $black 25%, transparent 25%) -50px 0,
  // linear-gradient(315deg, $black 25%, transparent 25%),
  // linear-gradient(45deg, $black 25%, transparent 25%);
  // background-size: 2em 2em;
  background-color: $darkGray;
  // font-family: $font;
}

body::-webkit-scrollbar-track {
  background: $lightGray;
}

body::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 20px;

  &:hover {
    background-color: $darkGray;
  }
}

// h1 {
//   font-size: $fontSizeLarge;
// }

// h2 {
//   font-size: $fontSizeMed;
// }

// h3 {
//   font-size: $fontSizeSmall;
// }

// p {
//   word-break: break-word;
// }

button, a {
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
  color: $white;
  text-decoration: none;
  font-size: $fontSizeMed;
}

#title-bar, #nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 2;
}

#title-bar {
  left: 0;
  right: 0;
  height: $navBarSize;
  margin: 0;
  background-color: $darkGray;
  $logoOffset: 2.5rem;

  button, img {
    position: fixed;
    top: ($navBarSize - $fontSizeLarge) / 3;
    left: $navBarSize / 2 + $logoOffset;
    z-index: 999;
    font-family: $fontTitle;
    font-size: $fontSizeLarge;
    // font-style: italic;
  }

  img {
    top: .35rem;
    left: .75rem;
  }
}

#nav-bar {
  position: fixed;
  display: block;
  width: 50%;
  margin: auto;
  line-height: 100%;
  text-align: center;
  transition: 0s;
  font-size: $fontSizeMed;

  a {
    display: inline-flex;
    margin: 0;
    padding: ($navBarSize - $fontSizeMed) / 2;
    // border-style: collapse;
    // border-right: 2px solid rgba($darkGray, 0.875);

    // &:first-of-type {
    //   border-left: 2px solid rgba($darkGray, 0.875);
    // }

    &:hover {
      background-color: $gray;
    }

    &.selected {
      background-color: $gray;

      &:before {
        position: absolute;
        display: block;
        top: .5rem;
        height: 100%;
        content: ".";
        font-family: Arial;
        transform: scale(2);
      }
    }
  }

}

#nav-bar.portrait {
  top: $navBarSize;
  left: auto;
  width: fit-content;
  margin: initial;
  transition: 1s;

  a {
    display: flex;
    background-color: $darkGray;

    &:hover, &.selected{
      background-color: $gray;
    }
  }
  
  &.closed {
    right: -10rem;
  } 

  &.open {
    right: 0rem;
    transition: 1s;
  }
}

#menu-opener {
  position: fixed;
  top: .75rem;
  right: 1.5rem;
  font-size: .5rem;
}

#directions-text {
  position: fixed;
  top: $navBarSize + 5rem;
  width: 100vw;
  text-align: center;
  color: $white;
  z-index: 4;
}

#entry-page {
  position: fixed;
  display: flex;
  top: $navBarSize;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $darkGray;
  color: $white;
  padding: 1rem;
  align-items: center;
  text-align: center;
  z-index: 999;

  h1 {
    display: none;

    &.fade, &.active {
      display: block;
      transition: opacity .3s linear;
      -moz-transition: opacity .3s linear;
      -webkit-transition: opacity .3s linear;
    }
  
    &.fade {
      opacity: 0;
    }
  
    &.active {
      opacity: 1;
    }
  }
}

.canvas-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $gray;
}

.page-container {
  position: absolute;
  top: $navBarSize;
  display: none;
  min-height: calc(100vh - 5rem);
  min-width: 100vw;
  z-index: 1;
  padding-top: 50px;
  // background-color: rgba(255, 255, 255, 0);
  background-color: $white;

  &.fade, &.active {
    display: block;
    transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
  }

  &.fade {
    opacity: 0;
  }

  &.active {
    opacity: 1;
  }
}

// .page {
//   background-color: rgba(255, 255, 255, 1);
//   padding-top: 3rem;
//   padding-left: calc(min(10rem, 10vw));
//   padding-right: calc(min(10rem, 10vw));
//   padding-bottom: 7rem;
//   font-size: $fontSizeSmall;
//   font-weight: 300;
//   line-height: $fontSizeSmall * 2;
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   z-index: 2
// }

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;

  &.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: white;
  background-color: $darkGray;
  z-index: 2
}

// .timeline {
//   background-color: $veryLightGray;
//   border: 2px solid $darkGray;
// }

