*, *::before, *::after {
  box-sizing: border-box;
}

html {
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  touch-action: none;
  scroll-behavior: smooth;
}

body {
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: 
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);	
  background-size: 2em 2em;
  background-color: #232323;
}

h1 {
  font-family: fantasy;
}

p {
  font-size: 1.5em;
  word-break: break-word;
}

button, a {
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-family: fantasy;
}

#title-bar, #nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 2;
}

#title-bar {
  left: 0;
  right: 0;
  height: 5rem;
  margin: 0;
  background-color: rgba(64, 64, 64, 0.5);
}

#title-bar > button {
  position: fixed;
  top: 1.25rem;
  left: 2rem;
  z-index: 999;
  font-style: italic;
}

#nav-bar {
  position: fixed;
  display: block;
  width: 50%;
  margin: auto;
  line-height: 100%;
  text-align: center;
}

#nav-bar > a {
  display: inline-flex;
  margin: 0;
  padding: 2rem;
  border-right:  2px solid rgba(32, 32, 32, 0.9);
}

#nav-bar > a:hover {
  background-color: rgba(64, 64, 64, 0.75);
}

#nav-bar > a.selected {
  background-color: rgba(64, 64, 64, 0.75);
}

#nav-bar > a.selected::before {
  position: absolute;
  display: block;
  top: 1rem;
  height: 100%;
  content: ".";
  transform: scale(2);
}

#nav-bar.portrait.closed > a {
  display: none;
}

#nav-bar.portrait.open {
  top: 5rem;
  right: 0rem;
  width: fit-content;
  margin: initial;
}

#nav-bar.portrait.open > a {
  display: flex;
}

#menu-opener {
  position: fixed;
  right: 1rem;
  font-size: 5rem;
}

.canvas-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.page {
  position: fixed;
  display: none;
  top: 5rem;
  bottom: 0;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  padding-top: 3em;
  padding-left: min(10em, 10vw);
  padding-right: min(10em, 10vw);
}

.page.active{
  display: block;
  opacity: 1;
  transition:opacity .3s linear;
  -moz-transition:opacity .3s linear;
  -webkit-transition:opacity .3s linear;
}