*, *::before, *::after {
  box-sizing: border-box;
}

html {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  touch-action: none;
  scroll-behavior: smooth;
}

body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  margin: 0;
  background: 
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);	
  background-size: 2em 2em;
  background-color: #232323;
}

h1 {
  font-family: fantasy;
}

p {
  font-size: 1.5em;
  word-break: break-word;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.top-bar {
  position: fixed;
  width: 100vw;
  margin: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(64, 64, 64, 0.5);
  z-index: 2;
}

.top-bar > a, .top-bar button{
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-family: fantasy;
}

#title-bar {
  z-index: 3;
}

#title-bar > button {
  position: fixed;
  top: 1.25rem;
  left: 2rem;
  z-index: 999;
  font-style: italic;
}

#title-bar > button:hover {
  background-color: initial;
  /* text-shadow: 1px 1px 3px white; */
}

#nav-bar {
  position: fixed;
  display: block;
  top: 0;
  line-height: 100%;
  text-align: center;
}

#nav-bar > a {
  display: inline-flex;
  flex-direction: column;
  padding: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  margin: 0;
  border-right:  2px solid rgba(32, 32, 32, 0.9);
}

#nav-bar > a.no-border {
  border: none;
}

#nav-bar > a.selected {
  background-color: rgba(64, 64, 64, 0.75);
}

#nav-bar > a.selected::before {
  content: ".";
  position: absolute;
  display: block;
  top: 1rem;
  height: 100%;
  transform: scale(2);
}

#nav-bar > a:hover {
  background-color: rgba(64, 64, 64, 0.75);
}

@media screen and (max-aspect-ratio: 3/4) {
  #nav-bar {
      padding-top: 3rem;
  }

  #nav-bar > a {
    margin-top: 1rem;
  }  
}

.canvas-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.page {
  position: fixed;
  display: none;
  width: 100vw;
  top: 5rem;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  padding-top: 3em;
  padding-left: min(10em, 10vw);
  padding-right: min(10em, 10vw);
}

.page.active{
  display: block;
  opacity: 1;
  transition:opacity .3s linear;
  -moz-transition:opacity .3s linear;
  -webkit-transition:opacity .3s linear;
}